* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: iranSans;
  direction: rtl;
}
body .intro {
  width: 100%;
  height: 600px;
  background-image: url(../assets/images/linesII.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgb(108, 108, 253);
}
body .intro .blue-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .intro .blue-box .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 50px;
  background-color: #ffffff;
  position: relative;
  top: 30px;
}
body .intro .blue-box .title img {
  margin-left: 25px;
  width: 90px;
}
body .intro .blue-box .descriptions {
  position: relative;
  top: 75px;
}
body .intro .blue-box .descriptions h1 {
  text-align: center;
  line-height: 45px;
  color: #ffffff;
}
body .intro .blue-box .orange-line {
  position: relative;
  top: 95px;
  width: 120px;
}
body .intro .blue-box .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .intro .blue-box .buttons .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 170px;
  text-decoration: none;
  background-color: rgb(255, 174, 33);
  border-radius: 30px;
  color: #000000;
  margin: 0 5px;
  padding: 11px 23px;
  font-size: 20px;
}
body .intro .blue-box .buttons .button img {
  width: 18px;
  margin-right: 8px;
}
body .intro .blue-box .buttons .free-experience-button {
  background-color: #ffffff;
}
body .intro .blue-box .buttons .show-courses-button {
  padding: 11px 27px;
}
body .intro .blue-box .arrow .arrow-img {
  position: relative;
  top: 250px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body .intro {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .intro .blue-box .title {
    width: 85%;
    top: 45px;
  }
  body .intro .blue-box .title img {
    width: 80px;
  }
  body .intro .blue-box .descriptions {
    top: 155px;
  }
  body .intro .blue-box .descriptions h1 {
    width: 280px;
  }
  body .intro .blue-box .orange-line {
    top: 265px;
  }
  body .intro .blue-box .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .intro .blue-box .buttons .button {
    position: relative;
    top: 170px;
    text-decoration: none;
    background-color: rgb(255, 174, 33);
    border-radius: 30px;
    color: #000000;
    margin: 0 5px;
    padding: 11px 23px;
    font-size: 20px;
  }
  body .intro .blue-box .buttons .free-experience-button {
    background-color: #ffffff;
    top: 310px;
  }
  body .intro .blue-box .buttons .show-courses-button {
    padding: 11px 33px;
    top: 340px;
  }
  body .intro .blue-box .buttons .show-courses-button img {
    margin-right: 15px;
  }
  body .intro .blue-box .arrow .arrow-img {
    top: 380px;
  }
}/*# sourceMappingURL=style.css.map */