<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="../style/style.css">
    <title>کلاسینو</title>
</head>
<body>
    <section class="intro">
        <div class="blue-box">
            <div class="title">
                <img src="../assets/images/classinoLogo.svg" alt="classino logo">
                <h3>آموزشگاه آنلاین ابتدایی تا کنکور</h3>
            </div>
            <div class="descriptions">
                <h1>می خوای تو امتحانات ۲۰ بگیری؟</h1>
                <h1>دوست داری وارد مدارس برتر و تیزهوشان بشی؟</h1>
                <h1>با کلاسینو، کلاس درس رو "آنلاین" بیار به خونه!</h1>
            </div>
            <img src="../assets/images/line_yellow.svg" class="orange-line" alt="orange line">
            <div class="buttons">
                <div class="button-1">
                    <a href="#" class="button free-experience-button">
                        رایگان تجربه کن<img src="../assets/images/arrow-left.svg" alt="arrow left svg"></a>
                </div>
                <div class="button-2">
                    <a href="#" class="button show-courses-button">
                        نمایش دوره ها<img src="../assets/images/arrow-left.svg" alt="arrow left svg"></a>
                </div>
            </div>
            <a href="#" class="arrow">
                <img src="../assets/images/arrrow.svg" class="arrow-img" alt="arrow image">
            </a>
        </div>
    </section>
</body>
</html>